

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    </head>

    <table id="crafting_prices" class="display" style="width:100%">
        <thead>
        <tr>
            <th> Crafter </th>
            <th> Name </th>
            <th> Cheapest </th>
            <th> Cheapest HQ </th>
            <th> Price to craft </th>
            <th> NQ Profit </th>
            <th> HQ Profit </th>
            <th> Average NQ history </th>
            <th> Average HQ history </th>
            <th> Sold in past week </th>
            <th> Historical NQ profit </th>
            <th> Historical HQ profit </th>
            <th> Profit score </th>
        </tr>
        </thead>
        <tbody>
        {{#models}}
            <tr>
                <td> {{crafter}} </td>
                <td> {{name}} </td>
                <td> {{cheapest}} </td>
                <td> {{cheapestHQ}} </td>
                <td> {{priceToCraft}} </td>
                <td> {{nqProfit}} </td>
                <td> {{hqProfit}} </td>
                <td> {{averageNQHistory}} </td>
                <td> {{averageHQHistory}} </td>
                <td> {{numSoldInPastWeek}} </td>
                <td> {{historicalNQProfit}} </td>
                <td> {{historicalHQProfit}} </td>
                <td> {{profitScore}} </td>
            </tr>
        {{/models}}

        </tbody>
    </table>
    <div style="text-align:center; font-family:Verdana; color:dimgray;">Last updated on {{lastUpdatedOn}}</div>
    <script>
        $(document).ready(function() {
            $('#crafting_prices').DataTable( {
                "order": [[ 12, "desc" ]],
                stateSave: true,
                "pageLength": 20
            } );
        } );
    </script>
</html>









