

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://unpkg.com/popper.js@1"></script>
        <script src="https://unpkg.com/tippy.js@4"></script>
    </head>

    <table id="crafting_prices" class="display" style="width:100%">
        <thead>
        <tr>
            <th> Crafter </th>
            <th> Name </th>
            <th> Cheapest </th>
            <th> Cheapest HQ </th>
            <th> Average NQ history </th>
            <th> Average HQ history </th>
            <th> Sold in past week </th>
            <th> Price to craft </th>
            <th> NQ Profit </th>
            <th> HQ Profit </th>
            <th> Historical NQ profit </th>
            <th> Historical HQ profit </th>
            <th> Profit score </th>
        </tr>
        </thead>
        <tbody>
        {{#models}}
            <tr>
                <td> {{crafter}} </td>
                <td id="{{id}}"> {{name}} </td>
                <td> {{cheapest}} </td>
                <td> {{cheapestHQ}} </td>
                <td> {{averageNQHistory}} </td>
                <td> {{averageHQHistory}} </td>
                <td> {{numSoldInPastWeek}} </td>
                <td> {{priceToCraft}} </td>
                <td> {{nqProfit}} </td>
                <td> {{hqProfit}} </td>
                <td> {{historicalNQProfit}} </td>
                <td> {{historicalHQProfit}} </td>
                <td> {{profitScore}} </td>
            </tr>
            <script>
                tippy('#{{id}}', {
                    content: '<table><thead><tr><th style="color:#FAFAFA;"> Name </th><th style="color:#FAFAFA;"> Price </th><th style="color:#FAFAFA;"> Amount </th><th style="color:#FAFAFA;"> Total </th></tr></thead><tbody>{{#recipeModels}}<tr><td style="color:#FAFAFA;">{{name}}</td><td style="color:#FAFAFA;">{{price}}</td><td style="color:#FAFAFA;">{{amount}}</td><td style="color:#FAFAFA;">{{total}}</td><tr>{{/recipeModels}}</tbody></table>',
                    placement: 'right',
                    animateFill: false,
                    animation: 'scale'
                });
            </script>
        {{/models}}

        </tbody>
    </table>
    <div style="text-align:center; font-family:Verdana; color:dimgray;">Last updated on {{lastUpdatedOn}}</div>
    <script>
        $(document).ready(function() {
            $('#crafting_prices').DataTable( {
                "order": [[ 12, "desc" ]],
                "pageLength": 20
            } );
        } );
    </script>
</html>









